In [2]:
import pandas as pd

In [3]:
#FB exports the insights by maximum 180 days. So, I exported 3 files per year, total 6 files for years 2019 & 2020
bc_20191=pd.read_excel(r'C:\Users\user\Desktop\Anastasios\Προσωπικά έγγραφα\Καρναβάς\FB Bubble Cleaning\2019-1.xlsx', engine='openpyxl')
bc_20192=pd.read_excel(r'C:\Users\user\Desktop\Anastasios\Προσωπικά έγγραφα\Καρναβάς\FB Bubble Cleaning\2019-2.xlsx', engine='openpyxl')
bc_20193=pd.read_excel(r'C:\Users\user\Desktop\Anastasios\Προσωπικά έγγραφα\Καρναβάς\FB Bubble Cleaning\2019-3.xlsx', engine='openpyxl')
bc_20201=pd.read_excel(r'C:\Users\user\Desktop\Anastasios\Προσωπικά έγγραφα\Καρναβάς\FB Bubble Cleaning\2020-1.xlsx', engine='openpyxl')
bc_20202=pd.read_excel(r'C:\Users\user\Desktop\Anastasios\Προσωπικά έγγραφα\Καρναβάς\FB Bubble Cleaning\2020-2.xlsx', engine='openpyxl')
bc_20203=pd.read_excel(r'C:\Users\user\Desktop\Anastasios\Προσωπικά έγγραφα\Καρναβάς\FB Bubble Cleaning\2020-3.xlsx', engine='openpyxl')

In [4]:
#I merge the 6 dfs for years 2019-2020
bc_2019_2020=pd.concat([bc_20191,bc_20192,bc_20193,bc_20201,bc_20202,bc_20203])

In [5]:
bc_2019_2020.head()

,Date,Daily Total Impressions,Daily Organic impressions,Daily Organic Reach,Daily Paid Impressions,Daily Paid Reach,Daily Total Reach,Daily Page Engaged Users
0,2019-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-03-02,1.0,NaN,NaN,NaN,NaN,1.0,NaN
4,2019-03-11,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [6]:
bc_2019_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 42
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       269 non-null    datetime64[ns]
 1   Daily Total Impressions    258 non-null    float64
 2   Daily Organic impressions  237 non-null    float64
 3   Daily Organic Reach        237 non-null    float64
 4   Daily Paid Impressions     9 non-null      float64
 5   Daily Paid Reach           9 non-null      float64
 6   Daily Total Reach          258 non-null    float64
 7   Daily Page Engaged Users   122 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 18.9 KB

In [35]:
#I create 3 more columns with only the year, month and name of weekday
bc_2019_2020['Year']=bc_2019_2020['Date'].dt.year
bc_2019_2020['Month']=bc_2019_2020['Date'].dt.month_name()
bc_2019_2020['Month_Num']=bc_2019_2020['Date'].dt.month
bc_2019_2020['Weekday']=bc_2019_2020['Date'].dt.day_name()

In [36]:
bc_2019_2020.head()

,Date,Daily Total Impressions,Daily Organic impressions,Daily Organic Reach,Daily Paid Impressions,Daily Paid Reach,Daily Total Reach,Daily Page Engaged Users,Year,Month,Weekday,Month_Num
0,2019-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,January,Tuesday,1
1,2019-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,January,Tuesday,1
2,2019-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,January,Thursday,1
3,2019-03-02,1.0,NaN,NaN,NaN,NaN,1.0,NaN,2019,March,Saturday,3
4,2019-03-11,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2019,March,Monday,3

In [37]:
bc_2019_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 42
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       269 non-null    datetime64[ns]
 1   Daily Total Impressions    258 non-null    float64
 2   Daily Organic impressions  237 non-null    float64
 3   Daily Organic Reach        237 non-null    float64
 4   Daily Paid Impressions     9 non-null      float64
 5   Daily Paid Reach           9 non-null      float64
 6   Daily Total Reach          258 non-null    float64
 7   Daily Page Engaged Users   122 non-null    float64
 8   Year                       269 non-null    int64
 9   Month                      269 non-null    object
 10  Weekday                    269 non-null    object
 11  Month_Num                  269 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(2), object(2)
memory usage: 37.3+ KB

In [38]:
#I save the df bc_2019_2020 in excel file 
bc_2019_2020.to_excel(r'C:\Users\user\Desktop\Anastasios\Προσωπικά έγγραφα\Καρναβάς\FB Bubble Cleaning\Final work\bc_19-20.xlsx')

In [39]:
bc_2019_2020_month=bc_2019_2020.groupby(['Year', 'Month_Num', 'Month'])[['Daily Total Reach', 'Daily Organic Reach', 'Daily Paid Reach',
                                                         'Daily Page Engaged Users', 'Daily Total Impressions', 
                                                        'Daily Organic impressions', 'Daily Paid Impressions']].sum()

In [33]:
bc_2019_2020_month

                Daily Total Reach  Daily Organic Reach  Daily Paid Reach  \
Year Month
2019 April                    1.0                  0.0               0.0
     August                   0.0                  0.0               0.0
     December                 5.0                  4.0               0.0
     January                  0.0                  0.0               0.0
     July                     6.0                  4.0               0.0
     June                     4.0                  3.0               0.0
     March                    2.0                  1.0               0.0
     May                      3.0                  2.0               0.0
     November                 9.0                  8.0               0.0
     October                  1.0                  1.0               0.0
     September                7.0                  4.0               0.0
2020 April                 3413.0               1988.0            1416.0
     August                  27.0                 25.0               0.0
     December                19.0                 16.0               0.0
     February              2509.0               1374.0            1137.0
     January                  5.0                  4.0               0.0
     July                    54.0                 50.0               0.0
     June                  1941.0               1939.0               0.0
     March                 2035.0               2029.0               0.0
     May                   2225.0               2217.0               0.0
     November                 7.0                  6.0               0.0
     October                 14.0                 10.0               0.0
     September               14.0                 14.0               0.0

                Daily Page Engaged Users  Daily Total Impressions  \
Year Month
2019 April                           2.0                      1.0
     August                          1.0                      0.0
     December                        0.0                     22.0
     January                         0.0                      0.0
     July                            0.0                     61.0
     June                            1.0                     12.0
     March                           1.0                     44.0
     May                             1.0                     17.0
     November                        1.0                    166.0
     October                         2.0                      2.0
     September                       0.0                     23.0
2020 April                         179.0                   4168.0
     August                          5.0                    166.0
     December                        0.0                    104.0
     February                      107.0                   2928.0
     January                         0.0                      6.0
     July                            1.0                    129.0
     June                           82.0                   2652.0
     March                         115.0                   2523.0
     May                           118.0                   3047.0
     November                        3.0                     39.0
     October                         1.0                    123.0
     September                       2.0                     78.0

                Daily Organic impressions  Daily Paid Impressions
Year Month
2019 April                            0.0                     0.0
     August                           0.0                     0.0
     December                        16.0                     0.0
     January                          0.0                     0.0
     July                            52.0                     0.0
     June                             7.0                     0.0
     March                           41.0                     0.0
     May                             15.0                     0.0
     November                       136.0                     0.0
     October                          2.0                     0.0
     September                        6.0                     0.0
2020 April                         2640.0                  1474.0
     August                         159.0                     0.0
     December                        95.0                     0.0
     February                      1535.0                  1329.0
     January                          5.0                     0.0
     July                           121.0                     0.0
     June                          2631.0                     0.0
     March                         2502.0                     0.0
     May                           2994.0                     0.0
     November                        35.0                     0.0
     October                        108.0                     0.0
     September                       73.0                     0.0

In [40]:
#I convert the index to columns
bc_2019_2020_month.reset_index(inplace=True)
bc_2019_2020_month

,Year,Month_Num,Month,Daily Total Reach,Daily Organic Reach,Daily Paid Reach,Daily Page Engaged Users,Daily Total Impressions,Daily Organic impressions,Daily Paid Impressions
0,2019,1,January,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019,3,March,2.0,1.0,0.0,1.0,44.0,41.0,0.0
2,2019,4,April,1.0,0.0,0.0,2.0,1.0,0.0,0.0
3,2019,5,May,3.0,2.0,0.0,1.0,17.0,15.0,0.0
4,2019,6,June,4.0,3.0,0.0,1.0,12.0,7.0,0.0
5,2019,7,July,6.0,4.0,0.0,0.0,61.0,52.0,0.0
6,2019,8,August,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,2019,9,September,7.0,4.0,0.0,0.0,23.0,6.0,0.0
8,2019,10,October,1.0,1.0,0.0,2.0,2.0,2.0,0.0
9,2019,11,November,9.0,8.0,0.0,1.0,166.0,136.0,0.0
10,2019,12,December,5.0,4.0,0.0,0.0,22.0,16.0,0.0
11,2020,1,January,5.0,4.0,0.0,0.0,6.0,5.0,0.0
12,2020,2,February,2509.0,1374.0,1137.0,107.0,2928.0,1535.0,1329.0
13,2020,3,March,2035.0,2029.0,0.0,115.0,2523.0,2502.0,0.0
14,2020,4,April,3413.0,1988.0,1416.0,179.0,4168.0,2640.0,1474.0
15,2020,5,May,2225.0,2217.0,0.0,118.0,3047.0,2994.0,0.0
16,2020,6,June,1941.0,1939.0,0.0,82.0,2652.0,2631.0,0.0
17,2020,7,July,54.0,50.0,0.0,1.0,129.0,121.0,0.0
18,2020,8,August,27.0,25.0,0.0,5.0,166.0,159.0,0.0
19,2020,9,September,14.0,14.0,0.0,2.0,78.0,73.0,0.0
20,2020,10,October,14.0,10.0,0.0,1.0,123.0,108.0,0.0
21,2020,11,November,7.0,6.0,0.0,3.0,39.0,35.0,0.0
22,2020,12,December,19.0,16.0,0.0,0.0,104.0,95.0,0.0

In [44]:
#I sort the df by month
bc_2019_2020_month.sort_values(['Year','Month_Num'], inplace=True)

In [45]:
bc_2019_2020_month

,Year,Month_Num,Month,Daily Total Reach,Daily Organic Reach,Daily Paid Reach,Daily Page Engaged Users,Daily Total Impressions,Daily Organic impressions,Daily Paid Impressions
0,2019,1,January,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019,3,March,2.0,1.0,0.0,1.0,44.0,41.0,0.0
2,2019,4,April,1.0,0.0,0.0,2.0,1.0,0.0,0.0
3,2019,5,May,3.0,2.0,0.0,1.0,17.0,15.0,0.0
4,2019,6,June,4.0,3.0,0.0,1.0,12.0,7.0,0.0
5,2019,7,July,6.0,4.0,0.0,0.0,61.0,52.0,0.0
6,2019,8,August,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,2019,9,September,7.0,4.0,0.0,0.0,23.0,6.0,0.0
8,2019,10,October,1.0,1.0,0.0,2.0,2.0,2.0,0.0
9,2019,11,November,9.0,8.0,0.0,1.0,166.0,136.0,0.0
10,2019,12,December,5.0,4.0,0.0,0.0,22.0,16.0,0.0
11,2020,1,January,5.0,4.0,0.0,0.0,6.0,5.0,0.0
12,2020,2,February,2509.0,1374.0,1137.0,107.0,2928.0,1535.0,1329.0
13,2020,3,March,2035.0,2029.0,0.0,115.0,2523.0,2502.0,0.0
14,2020,4,April,3413.0,1988.0,1416.0,179.0,4168.0,2640.0,1474.0
15,2020,5,May,2225.0,2217.0,0.0,118.0,3047.0,2994.0,0.0
16,2020,6,June,1941.0,1939.0,0.0,82.0,2652.0,2631.0,0.0
17,2020,7,July,54.0,50.0,0.0,1.0,129.0,121.0,0.0
18,2020,8,August,27.0,25.0,0.0,5.0,166.0,159.0,0.0
19,2020,9,September,14.0,14.0,0.0,2.0,78.0,73.0,0.0
20,2020,10,October,14.0,10.0,0.0,1.0,123.0,108.0,0.0
21,2020,11,November,7.0,6.0,0.0,3.0,39.0,35.0,0.0
22,2020,12,December,19.0,16.0,0.0,0.0,104.0,95.0,0.0

In [47]:
#group by year and day of week
bc_2019_2020_day=bc_2019_2020.groupby(['Year', 'Weekday'])[['Daily Total Reach', 'Daily Organic Reach', 'Daily Paid Reach',
                                                         'Daily Page Engaged Users', 'Daily Total Impressions', 
                                                        'Daily Organic impressions', 'Daily Paid Impressions']].sum()

In [49]:
#convert the index to columns
bc_2019_2020_day.reset_index(inplace=True)
bc_2019_2020_day

,Year,Weekday,Daily Total Reach,Daily Organic Reach,Daily Paid Reach,Daily Page Engaged Users,Daily Total Impressions,Daily Organic impressions,Daily Paid Impressions
0,2019,Friday,5.0,5.0,0.0,1.0,25.0,18.0,0.0
1,2019,Monday,9.0,7.0,0.0,2.0,48.0,35.0,0.0
2,2019,Saturday,6.0,3.0,0.0,1.0,17.0,4.0,0.0
3,2019,Sunday,5.0,3.0,0.0,1.0,97.0,92.0,0.0
4,2019,Thursday,6.0,5.0,0.0,2.0,68.0,50.0,0.0
5,2019,Tuesday,6.0,4.0,0.0,0.0,91.0,76.0,0.0
6,2019,Wednesday,1.0,0.0,0.0,2.0,2.0,0.0,0.0
7,2020,Friday,1557.0,568.0,987.0,59.0,1944.0,774.0,1139.0
8,2020,Monday,1040.0,972.0,61.0,53.0,1522.0,1439.0,61.0
9,2020,Saturday,2907.0,2472.0,429.0,145.0,3664.0,3150.0,451.0
10,2020,Sunday,2762.0,2758.0,0.0,165.0,3623.0,3565.0,0.0
11,2020,Thursday,1408.0,887.0,511.0,67.0,1792.0,1208.0,558.0
12,2020,Tuesday,1059.0,747.0,309.0,50.0,1349.0,1007.0,322.0
13,2020,Wednesday,1530.0,1268.0,256.0,74.0,2069.0,1755.0,272.0

In [85]:
#I save the 3 dataframes bc_2019_2020, bc_2019_2020_month and bc_2019_2020_day in excel file with 3 sheets
path=r'C:\Users\user\Desktop\Anastasios\Προσωπικά έγγραφα\Καρναβάς\FB Bubble Cleaning\Final work\bc_19-20.xlsx'
writer = pd.ExcelWriter(path, engine = 'xlsxwriter')
bc_2019_2020.to_excel(writer, sheet_name = 'All_page', index=False)
bc_2019_2020_month.to_excel(writer, sheet_name = 'per month_page', index=False)
bc_2019_2020_day.to_excel(writer, sheet_name = 'per day_page', index=False)
writer.save()
writer.close()

In [71]:
#I read the excel file with posts
bc_posts=pd.read_excel(r'C:\Users\user\Desktop\Anastasios\Προσωπικά έγγραφα\Καρναβάς\FB Bubble Cleaning\2020 feb-jun posts.xlsx', engine='openpyxl')
bc_posts.head()

,Post ID,Permalink,Post Message,Type,Countries,Languages,Posted,Audience Targeting,Lifetime Post Total Impressions,Lifetime Post Organic Impressions,Lifetime Post organic reach,Lifetime Post Paid Impressions,Lifetime Post Paid Reach,Lifetime Post Total Reach,Lifetime Engaged Users
0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Lifetime: The number of times your Page's post...,Lifetime: The number of times your Page's post...,Lifetime: The number of people who had your Pa...,Lifetime: The number of times your Page's post...,Lifetime: The number of people who had your Pa...,Lifetime: The number of people who had your Pa...,Lifetime: The number of unique people who enga...
1,209239232551276_1771602586314925,https://www.facebook.com/BubblesCleaning.Hella...,Το δικό σας χαλί είναι έτοιμο να πάρει την θέσ...,Photo,NaN,NaN,2020-06-28 03:26:10,,275,275,235,0,0,235,5
2,209239232551276_1771600489648468,https://www.facebook.com/BubblesCleaning.Hella...,Εμπιστευτείτε μας για την φροντίδα και την φύλ...,Photo,NaN,NaN,2020-06-27 08:23:33,,144,144,134,0,0,134,3
3,209239232551276_1771599746315209,https://www.facebook.com/BubblesCleaning.Hella...,Επίμονοι λεκέδες στα χαλιά σας; Μην ανησυχείτε...,Photo,NaN,NaN,2020-06-24 09:11:34,,166,166,155,0,0,155,4
4,209239232551276_1761121274029723,https://www.facebook.com/BubblesCleaning.Hella...,"Προφυλαχθείτε από ακάρεα, μικρόβια και αλλεργί...",Photo,NaN,NaN,2020-06-21 03:13:50,,273,273,217,0,0,217,7

In [72]:
bc_posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Post ID                            62 non-null     object
 1   Permalink                          61 non-null     object
 2   Post Message                       61 non-null     object
 3   Type                               61 non-null     object
 4   Countries                          0 non-null      float64
 5   Languages                          0 non-null      float64
 6   Posted                             61 non-null     datetime64[ns]
 7   Audience Targeting                 61 non-null     object
 8   Lifetime Post Total Impressions    63 non-null     object
 9   Lifetime Post Organic Impressions  63 non-null     object
 10  Lifetime Post organic reach        63 non-null     object
 11  Lifetime Post Paid Impressions     63 non-null     object
 12  Lifetime Post Paid Reach           63 non-null     object
 13  Lifetime Post Total Reach          63 non-null     object
 14  Lifetime Engaged Users             63 non-null     object
dtypes: datetime64[ns](1), float64(2), object(12)
memory usage: 7.5+ KB

In [73]:
bc_posts=bc_posts.iloc[:, 6:15]

In [74]:
bc_posts.head()

,Posted,Audience Targeting,Lifetime Post Total Impressions,Lifetime Post Organic Impressions,Lifetime Post organic reach,Lifetime Post Paid Impressions,Lifetime Post Paid Reach,Lifetime Post Total Reach,Lifetime Engaged Users
0,NaT,NaN,Lifetime: The number of times your Page's post...,Lifetime: The number of times your Page's post...,Lifetime: The number of people who had your Pa...,Lifetime: The number of times your Page's post...,Lifetime: The number of people who had your Pa...,Lifetime: The number of people who had your Pa...,Lifetime: The number of unique people who enga...
1,2020-06-28 03:26:10,,275,275,235,0,0,235,5
2,2020-06-27 08:23:33,,144,144,134,0,0,134,3
3,2020-06-24 09:11:34,,166,166,155,0,0,155,4
4,2020-06-21 03:13:50,,273,273,217,0,0,217,7

In [75]:
#I drop the row 0 and column 'Audience Targeting'
bc_posts.drop('Audience Targeting', axis=1, inplace=True)
bc_posts.drop([0], axis=0, inplace=True)
bc_posts.head()

,Posted,Lifetime Post Total Impressions,Lifetime Post Organic Impressions,Lifetime Post organic reach,Lifetime Post Paid Impressions,Lifetime Post Paid Reach,Lifetime Post Total Reach,Lifetime Engaged Users
1,2020-06-28 03:26:10,275,275,235,0,0,235,5
2,2020-06-27 08:23:33,144,144,134,0,0,134,3
3,2020-06-24 09:11:34,166,166,155,0,0,155,4
4,2020-06-21 03:13:50,273,273,217,0,0,217,7
5,2020-06-20 04:01:28,268,268,226,0,0,226,7

In [76]:
#Insert new column with the name of the month
bc_posts['Month']=bc_posts['Posted'].dt.month_name()

In [78]:
bc_posts.head()

,Posted,Lifetime Post Total Impressions,Lifetime Post Organic Impressions,Lifetime Post organic reach,Lifetime Post Paid Impressions,Lifetime Post Paid Reach,Lifetime Post Total Reach,Lifetime Engaged Users,Month
1,2020-06-28 03:26:10,275,275,235,0,0,235,5,June
2,2020-06-27 08:23:33,144,144,134,0,0,134,3,June
3,2020-06-24 09:11:34,166,166,155,0,0,155,4,June
4,2020-06-21 03:13:50,273,273,217,0,0,217,7,June
5,2020-06-20 04:01:28,268,268,226,0,0,226,7,June

In [81]:
#groupby months
bc_posts_month=bc_posts.groupby('Month')[['Lifetime Post Total Reach','Lifetime Post organic reach', 'Lifetime Post Paid Reach',
                          'Lifetime Engaged Users', 'Lifetime Post Total Impressions', 
                          'Lifetime Post Organic Impressions', 'Lifetime Post Paid Impressions']].sum()
bc_posts_month.head()

,Lifetime Post Total Reach,Lifetime Post organic reach,Lifetime Post Paid Reach,Lifetime Engaged Users,Lifetime Post Total Impressions,Lifetime Post Organic Impressions,Lifetime Post Paid Impressions
Month,,,,,,,
April,3494,2352,1152,168,4174,2700,1474
February,2664,1756,920,96,3153,1824,1329
June,2353,2353,0,74,2739,2739,0
March,2058,2058,0,97,2339,2339,0
May,2763,2763,0,111,3204,3204,0

In [87]:
#I save it to the existing excel file 
path1=r'C:\Users\user\Desktop\Anastasios\Προσωπικά έγγραφα\Καρναβάς\FB Bubble Cleaning\Final work\posts.xlsx'
bc_posts_month.to_excel(path1, 'posts per month')